.custom-file-upload{
    display: inline-block;
    padding: 10px 5px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}
#category-image{
    display: none;
}   

.image-preview{
    display: inline-block;
    max-width: 150px;
    max-height: 150px;
    margin-top: 10px;
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}