.custom-file-upload{
    display: inline-block;
    padding: 10px 5px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}
#category-image, #product-images{
    display: none;
}   

.image-preview{
    display: inline-block;
    max-width: 150px;
    max-height: 150px;
    margin-top: 10px;
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}
.image-category{
    width: 80px;
    height: 80px;
    
   
}
.btn-update-category{
color: green !important
}
.btn-delete-category{
color: red !important
}
.category-image{
    display: none;
}
.btn-update-product{
color: green !important
}
.btn-delete-product{
color: red !important
}
.product-images{
    display: none;
}
.image-preview-listproduct{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 10px;
    gap: 10px;
}